schema/src/main/resources/schema-0.2.2.xsd

<!--
  Copyright (c) 2015 OpenJAX

  Permission is hereby granted, free of charge, to any person obtaining a copy
  of this software and associated documentation files (the "Software"), to deal
  in the Software without restriction, including without limitation the rights
  to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
  copies of the Software, and to permit persons to whom the Software is
  furnished to do so, subject to the following conditions:

  The above copyright notice and this permission notice shall be included in
  all copies or substantial portions of the Software.

  You should have received a copy of The MIT License (MIT) along with this
  program. If not, see <http://opensource.org/licenses/MIT/>.
-->
<xs:schema
  elementFormDefault="qualified"
  targetNamespace="http://www.jsonx.org/schema-0.2.2.xsd"
  xmlns:js="http://www.jsonx.org/schema-0.2.2.xsd"
  xmlns:dt="http://ext.openjax.org/xml/datatypes-0.9.2.xsd"
  xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:import namespace="http://ext.openjax.org/xml/datatypes-0.9.2.xsd" schemaLocation="http://ext.openjax.org/xml/datatypes-0.9.2.xsd"/>

  <xs:complexType name="member" abstract="true"/>

  <xs:attributeGroup name="annullable">
    <xs:attribute name="nullable" type="xs:boolean" default="true">
      <xs:annotation>
        <xs:documentation>Specifies whether the element can be null. Default: true.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>

  <xs:attributeGroup name="nameable">
    <xs:attribute name="name" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>Specifies the name. Required.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>

  <xs:attributeGroup name="use">
    <xs:attribute name="use" default="required">
      <xs:annotation>
        <xs:documentation>Specifies the property use &lt;required|optional&gt;. Default: required.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="required"/>
          <xs:enumeration value="optional"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>

  <xs:simpleType name="typeName">
    <xs:annotation>
      <xs:documentation>Identifier pattern that must start with either a capital letter, or must include a '$' followed by a capital letter.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:IDREF"/>
  </xs:simpleType>

  <xs:attributeGroup name="id">
    <xs:attribute name="name" use="required">
      <xs:annotation>
        <xs:documentation>Specifies the name. Required.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:ID">
          <xs:pattern value="([a-zA-Z]+\d*)+([\.-]?[a-zA-Z]+\d*)*"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>

  <xs:attributeGroup name="idrefs">
    <xs:attribute name="types" type="xs:IDREFS">
      <xs:annotation>
        <xs:documentation>Specifies the list of accepted type names. Optional.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>

  <xs:complexType name="referenceMember" abstract="true">
    <xs:complexContent>
      <xs:extension base="js:member">
        <xs:attribute name="type" type="js:typeName" use="required">
          <xs:annotation>
            <xs:documentation>Specifies the name of the referenced type. Required.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="reference">
    <xs:complexContent>
      <xs:extension base="js:referenceMember">
        <xs:attributeGroup ref="js:nameable"/>
        <xs:attributeGroup ref="js:annullable"/>
        <xs:attributeGroup ref="js:use"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="anyMember" abstract="true">
    <xs:complexContent>
      <xs:extension base="js:member"/>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="any">
    <xs:complexContent>
      <xs:extension base="js:anyMember">
        <xs:attributeGroup ref="js:idrefs"/>
        <xs:attributeGroup ref="js:annullable"/>
        <xs:attributeGroup ref="js:use"/>
        <xs:attribute name="names" type="dt:stringNonEmpty" use="required">
          <xs:annotation>
            <xs:documentation>Specifies the regex pattern of property names. Required.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="booleanMember" abstract="true">
    <xs:complexContent>
      <xs:extension base="js:member"/>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="boolean">
    <xs:complexContent>
      <xs:extension base="js:booleanMember">
        <xs:attributeGroup ref="js:nameable"/>
        <xs:attributeGroup ref="js:annullable"/>
        <xs:attributeGroup ref="js:use"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:simpleType name="form">
    <xs:restriction base="xs:string">
      <xs:enumeration value="integer"/>
      <xs:enumeration value="real"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="numberMember" abstract="true">
    <xs:complexContent>
      <xs:extension base="js:member">
        <xs:attribute name="form" type="js:form" default="real">
          <xs:annotation>
            <xs:documentation>Specifies the numeric form &lt;real|integer&gt;. Default: real.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="range">
          <xs:annotation>
            <xs:documentation>
              Specifies the value range in interval notation:
              Open (exclusive) interval: (min,max)
              Closed (inclusive) interal: [min,max]
              Half-open or half-closed interval: [min,max)
              Degenerate interval: [val]
            </xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value="[\(\[](-?\d+(\.\d+)?)?,(-?\d+(\.\d+)?)?[\)\]]"/>
              <xs:minLength value="4"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="number">
    <xs:complexContent>
      <xs:extension base="js:numberMember">
        <xs:attributeGroup ref="js:nameable"/>
        <xs:attributeGroup ref="js:annullable"/>
        <xs:attributeGroup ref="js:use"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="stringMember" abstract="true">
    <xs:complexContent>
      <xs:extension base="js:member">
        <xs:attribute name="pattern" type="dt:stringNonEmpty">
          <xs:annotation>
            <xs:documentation>Specifies the regex pattern.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="string">
    <xs:complexContent>
      <xs:extension base="js:stringMember">
        <xs:attributeGroup ref="js:nameable"/>
        <xs:attributeGroup ref="js:annullable"/>
        <xs:attributeGroup ref="js:use"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:simpleType name="maxOccurs">
    <xs:restriction base="xs:string">
      <xs:pattern value="([1-9]\d*)|(unbounded)"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:attributeGroup name="recurrable">
    <xs:attribute name="minOccurs" type="xs:nonNegativeInteger" default="1">
      <xs:annotation>
        <xs:documentation>Specifies the minimum inclusive number of occurrence of this element. Default: 1.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="maxOccurs" type="js:maxOccurs" default="unbounded">
      <xs:annotation>
        <xs:documentation>Specifies the maximum inclusive number of occurrence of this element. Default: unbounded.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>

  <xs:complexType name="arrayMember" abstract="true">
    <xs:complexContent>
      <xs:extension base="js:member">
        <xs:choice minOccurs="1" maxOccurs="unbounded">
          <xs:element name="any">
            <xs:complexType>
              <xs:complexContent>
                <xs:extension base="js:anyMember">
                  <xs:attributeGroup ref="js:idrefs"/>
                  <xs:attributeGroup ref="js:annullable"/>
                  <xs:attributeGroup ref="js:recurrable"/>
                </xs:extension>
              </xs:complexContent>
            </xs:complexType>
          </xs:element>
          <xs:element name="array">
            <xs:complexType>
              <xs:complexContent>
                <xs:extension base="js:arrayMember">
                  <xs:attributeGroup ref="js:annullable"/>
                  <xs:attributeGroup ref="js:recurrable"/>
                </xs:extension>
              </xs:complexContent>
            </xs:complexType>
          </xs:element>
          <xs:element name="boolean">
            <xs:complexType>
              <xs:complexContent>
                <xs:extension base="js:booleanMember">
                  <xs:attributeGroup ref="js:annullable"/>
                  <xs:attributeGroup ref="js:recurrable"/>
                </xs:extension>
              </xs:complexContent>
            </xs:complexType>
          </xs:element>
          <xs:element name="number">
            <xs:complexType>
              <xs:complexContent>
                <xs:extension base="js:numberMember">
                  <xs:attributeGroup ref="js:annullable"/>
                  <xs:attributeGroup ref="js:recurrable"/>
                </xs:extension>
              </xs:complexContent>
            </xs:complexType>
          </xs:element>
          <xs:element name="string">
            <xs:complexType>
              <xs:complexContent>
                <xs:extension base="js:stringMember">
                  <xs:attributeGroup ref="js:annullable"/>
                  <xs:attributeGroup ref="js:recurrable"/>
                </xs:extension>
              </xs:complexContent>
            </xs:complexType>
          </xs:element>
          <xs:element name="reference">
            <xs:complexType>
              <xs:complexContent>
                <xs:extension base="js:referenceMember">
                  <xs:attributeGroup ref="js:annullable"/>
                  <xs:attributeGroup ref="js:recurrable"/>
                </xs:extension>
              </xs:complexContent>
            </xs:complexType>
          </xs:element>
        </xs:choice>
        <xs:attribute name="minIterate" type="xs:nonNegativeInteger" default="1">
          <xs:annotation>
            <xs:documentation>Specifies the minimum inclusive number of iterations of child elements. Default: 1.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="maxIterate" type="js:maxOccurs" default="1">
          <xs:annotation>
            <xs:documentation>Specifies the maximum inclusive number of iterations of child elements. Default: 1.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="array">
    <xs:complexContent>
      <xs:extension base="js:arrayMember">
        <xs:attributeGroup ref="js:nameable"/>
        <xs:attributeGroup ref="js:annullable"/>
        <xs:attributeGroup ref="js:use"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="objectMember" abstract="true">
    <xs:complexContent>
      <xs:extension base="js:member">
        <xs:sequence minOccurs="0" maxOccurs="unbounded">
          <xs:element name="property" type="js:member">
            <xs:unique name="propertyNameUnique">
              <xs:selector xpath="./js:property"/>
              <xs:field xpath="@name"/>
            </xs:unique>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="extends" type="js:typeName">
          <xs:annotation>
            <xs:documentation>Specifies the name of the type to extend. Optional.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="object">
    <xs:complexContent>
      <xs:extension base="js:objectMember">
        <xs:attributeGroup ref="js:nameable"/>
        <xs:attributeGroup ref="js:annullable"/>
        <xs:attributeGroup ref="js:use"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="schema">
    <xs:complexType>
      <xs:sequence>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element name="boolean">
            <xs:complexType>
              <xs:complexContent>
                <xs:extension base="js:booleanMember">
                  <xs:attributeGroup ref="js:id"/>
                </xs:extension>
              </xs:complexContent>
            </xs:complexType>
          </xs:element>
          <xs:element name="number">
            <xs:complexType>
              <xs:complexContent>
                <xs:extension base="js:numberMember">
                  <xs:attributeGroup ref="js:id"/>
                </xs:extension>
              </xs:complexContent>
            </xs:complexType>
          </xs:element>
          <xs:element name="string">
            <xs:complexType>
              <xs:complexContent>
                <xs:extension base="js:stringMember">
                  <xs:attributeGroup ref="js:id"/>
                </xs:extension>
              </xs:complexContent>
            </xs:complexType>
          </xs:element>
          <xs:element name="array">
            <xs:complexType>
              <xs:complexContent>
                <xs:extension base="js:arrayMember">
                  <xs:attributeGroup ref="js:id"/>
                </xs:extension>
              </xs:complexContent>
            </xs:complexType>
          </xs:element>
          <xs:element name="object">
            <xs:complexType>
              <xs:complexContent>
                <xs:extension base="js:objectMember">
                  <xs:attribute name="abstract" type="xs:boolean" default="false">
                    <xs:annotation>
                      <xs:documentation>Specifies whether the object is abstract. Default: false.</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attributeGroup ref="js:id"/>
                </xs:extension>
              </xs:complexContent>
            </xs:complexType>
            <xs:unique name="uniquePropertyName">
              <xs:selector xpath="./js:property"/>
              <xs:field xpath="@name | @match"/>
            </xs:unique>
          </xs:element>
        </xs:choice>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>