generator/src/main/resources/jsonx.xsd

<!--
  Copyright (c) 2015 lib4j

  Permission is hereby granted, free of charge, to any person obtaining a copy
  of this software and associated documentation files (the "Software"), to deal
  in the Software without restriction, including without limitation the rights
  to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
  copies of the Software, and to permit persons to whom the Software is
  furnished to do so, subject to the following conditions:

  The above copyright notice and this permission notice shall be included in
  all copies or substantial portions of the Software.

  You should have received a copy of The MIT License (MIT) along with this
  program. If not, see <http://opensource.org/licenses/MIT/>.
-->
<xs:schema
  elementFormDefault="qualified"
  targetNamespace="http://jsonx.libx4j.org/jsonx-0.9.8.xsd"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:jsonx="http://jsonx.libx4j.org/jsonx-0.9.8.xsd"
  xmlns:dt="http://xml.lib4j.org/datatypes-1.0.4.xsd"
  xmlns:xs="http://www.w3.org/2001/XMLSchema">
  
  <xs:import namespace="http://xml.lib4j.org/datatypes-1.0.4.xsd" schemaLocation="http://xml.lib4j.org/datatypes-1.0.4.xsd"/>
  
  <xs:complexType name="member" abstract="true"/>
  
  <xs:complexType name="element" abstract="true">
    <xs:complexContent>
      <xs:extension base="jsonx:member">
        <xs:attributeGroup ref="jsonx:nameable"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:attributeGroup name="annullable">
    <xs:attribute name="nullable" type="xs:boolean" default="false">
      <xs:annotation>
        <xs:documentation>Can an array member be null. Default: false.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  
  <xs:attributeGroup name="nameable">
    <xs:attribute name="name" type="dt:javaIdentifier" use="required">
      <xs:annotation>
        <xs:documentation>Name of element. Required.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  
  <xs:attributeGroup name="use">
    <xs:annotation>
      <xs:documentation>Is property or member required or optional. Default: required.</xs:documentation>
    </xs:annotation>
    <xs:attribute name="use" default="required">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="required"/>
          <xs:enumeration value="optional"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  
  <xs:attributeGroup name="templatable">
    <xs:attribute name="template" type="dt:javaIdentifier" use="required">
      <xs:annotation>
        <xs:documentation>Name of template. Required.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  
  <xs:complexType name="referenceMember" abstract="true">
    <xs:complexContent>
      <xs:extension base="jsonx:member">
        <xs:attribute name="type" type="dt:javaQualifiedIdentifier" use="required">
          <xs:annotation>
            <xs:documentation>Name of referenced template or class. Required.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="reference">
    <xs:complexContent>
      <xs:extension base="jsonx:referenceMember">
        <xs:attributeGroup ref="jsonx:nameable"/>
        <xs:attributeGroup ref="jsonx:use"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="booleanMember" abstract="true">
    <xs:complexContent>
      <xs:extension base="jsonx:member"/>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="boolean">
    <xs:complexContent>
      <xs:extension base="jsonx:booleanMember">
        <xs:attributeGroup ref="jsonx:nameable"/>
        <xs:attributeGroup ref="jsonx:use"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:simpleType name="form">
    <xs:restriction base="xs:string">
      <xs:enumeration value="integer"/>
      <xs:enumeration value="real"/>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="range">
    <xs:restriction base="xs:string">
      <xs:pattern value="[\(\[](-?\d+(\.\d+)?)?,(-?\d+(\.\d+)?)?[\)\]]"/>
      <xs:minLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:complexType name="numberMember" abstract="true">
    <xs:complexContent>
      <xs:extension base="jsonx:member">
        <xs:attribute name="form" type="jsonx:form" default="real">
          <xs:annotation>
            <xs:documentation>Numeric form of number (integer or real). Default: real.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="range" type="jsonx:range">
          <xs:annotation>
            <xs:documentation>
              Value range expressed in interval notation:
              Open (exclusive) interval: (min,max)
              Closed (inclusive) interal: [min,max]
              Half-open or half-closed interval: [min,max)
              Degenerate interval: [val]
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="number">
    <xs:complexContent>
      <xs:extension base="jsonx:numberMember">
        <xs:attributeGroup ref="jsonx:nameable"/>
        <xs:attributeGroup ref="jsonx:use"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="stringMember" abstract="true">
    <xs:complexContent>
      <xs:extension base="jsonx:member">
        <xs:attribute name="pattern" type="dt:stringNonEmpty">
          <xs:annotation>
            <xs:documentation>Regex pattern for string.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="urlEncode" type="xs:boolean" default="false">
          <xs:annotation>
            <xs:documentation>Should string be url-encoded. Default: false.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="urlDecode" type="xs:boolean" default="false">
          <xs:annotation>
            <xs:documentation>Should string be url-decoded. Default: false.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="string">
    <xs:complexContent>
      <xs:extension base="jsonx:stringMember">
        <xs:attributeGroup ref="jsonx:nameable"/>
        <xs:attributeGroup ref="jsonx:use"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:simpleType name="maxCardinality">
    <xs:restriction base="xs:string">
      <xs:pattern value="(\d+)|(unbounded)"/>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:attributeGroup name="recurrable">
    <xs:attribute name="minOccurs" type="xs:nonNegativeInteger" default="1">
      <xs:annotation>
        <xs:documentation>Minimum inclusive occurrence of element in array. Default: 1.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="maxOccurs" type="jsonx:maxCardinality" default="unbounded">
      <xs:annotation>
        <xs:documentation>Maximum inclusive occurrence of element in array. Default: unbounded.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  
  <xs:complexType name="arrayMember" abstract="true">
    <xs:complexContent>
      <xs:extension base="jsonx:member">
        <xs:choice minOccurs="1" maxOccurs="unbounded">
          <xs:element name="array">
            <xs:complexType>
              <xs:complexContent>
                <xs:extension base="jsonx:arrayMember">
                  <xs:attributeGroup ref="jsonx:annullable"/>
                  <xs:attributeGroup ref="jsonx:recurrable"/>
                </xs:extension>
              </xs:complexContent>
            </xs:complexType>
          </xs:element>
          <xs:element name="boolean">
            <xs:complexType>
              <xs:complexContent>
                <xs:extension base="jsonx:booleanMember">
                  <xs:attributeGroup ref="jsonx:annullable"/>
                  <xs:attributeGroup ref="jsonx:recurrable"/>
                </xs:extension>
              </xs:complexContent>
            </xs:complexType>
          </xs:element>
          <xs:element name="number">
            <xs:complexType>
              <xs:complexContent>
                <xs:extension base="jsonx:numberMember">
                  <xs:attributeGroup ref="jsonx:annullable"/>
                  <xs:attributeGroup ref="jsonx:recurrable"/>
                </xs:extension>
              </xs:complexContent>
            </xs:complexType>
          </xs:element>
          <xs:element name="string">
            <xs:complexType>
              <xs:complexContent>
                <xs:extension base="jsonx:stringMember">
                  <xs:attributeGroup ref="jsonx:annullable"/>
                  <xs:attributeGroup ref="jsonx:recurrable"/>
                </xs:extension>
              </xs:complexContent>
            </xs:complexType>
          </xs:element>
          <xs:element name="reference">
            <xs:complexType>
              <xs:complexContent>
                <xs:extension base="jsonx:referenceMember">
                  <xs:attributeGroup ref="jsonx:annullable"/>
                  <xs:attributeGroup ref="jsonx:recurrable"/>
                </xs:extension>
              </xs:complexContent>
            </xs:complexType>
          </xs:element>
        </xs:choice>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="array">
    <xs:complexContent>
      <xs:extension base="jsonx:arrayMember">
        <xs:attributeGroup ref="jsonx:nameable"/>
        <xs:attributeGroup ref="jsonx:use"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:simpleType name="unknown">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ignore"/>
      <xs:enumeration value="error"/>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:complexType name="objectMember" abstract="true">
    <xs:complexContent>
      <xs:extension base="jsonx:member">
        <xs:sequence minOccurs="0" maxOccurs="unbounded">
          <xs:element name="property" type="jsonx:member">
            <xs:unique name="propertyNameUnique">
              <xs:selector xpath="./jsonx:property"/>
              <xs:field xpath="@name"/>
            </xs:unique>
            <xs:unique name="propertyClassUnique">
              <xs:selector xpath="./jsonx:property"/>
              <xs:field xpath="@class"/>
            </xs:unique>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="extends" type="dt:stringNonEmpty">
          <xs:annotation>
            <xs:documentation>Parent type of object. Optional.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="unknown" type="jsonx:unknown" default="error">
          <xs:annotation>
            <xs:documentation>Policy when unknown property is encountered (ignore or error). Default: error.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="object">
    <xs:complexContent>
      <xs:extension base="jsonx:objectMember">
        <xs:attribute name="class" type="dt:javaIdentifier" use="required">
          <xs:annotation>
            <xs:documentation>Name of class. Required.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attributeGroup ref="jsonx:nameable"/>
        <xs:attributeGroup ref="jsonx:use"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:element name="jsonx">
    <xs:complexType>
      <xs:sequence>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element name="boolean">
            <xs:complexType>
              <xs:complexContent>
                <xs:extension base="jsonx:booleanMember">
                  <xs:attributeGroup ref="jsonx:templatable"/>
                </xs:extension>
              </xs:complexContent>
            </xs:complexType>
          </xs:element>
          <xs:element name="number">
            <xs:complexType>
              <xs:complexContent>
                <xs:extension base="jsonx:numberMember">
                  <xs:attributeGroup ref="jsonx:templatable"/>
                </xs:extension>
              </xs:complexContent>
            </xs:complexType>
          </xs:element>
          <xs:element name="string">
            <xs:complexType>
              <xs:complexContent>
                <xs:extension base="jsonx:stringMember">
                  <xs:attributeGroup ref="jsonx:templatable"/>
                </xs:extension>
              </xs:complexContent>
            </xs:complexType>
          </xs:element>
          <xs:element name="array">
            <xs:complexType>
              <xs:complexContent>
                <xs:extension base="jsonx:arrayMember">
                  <xs:attribute name="class" type="dt:javaQualifiedIdentifier" use="optional">
                    <xs:annotation>
                      <xs:documentation>Name of class. Optional.</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute name="template" type="dt:javaIdentifier" use="optional">
                    <xs:annotation>
                      <xs:documentation>Name of template. Optional.</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                </xs:extension>
              </xs:complexContent>
            </xs:complexType>
          </xs:element>
          <xs:element name="object">
            <xs:complexType>
              <xs:complexContent>
                <xs:extension base="jsonx:objectMember">
                  <xs:attribute name="class" type="dt:javaQualifiedIdentifier" use="required">
                    <xs:annotation>
                      <xs:documentation>Name of class. Required.</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute name="abstract" type="xs:boolean" default="false">
                    <xs:annotation>
                      <xs:documentation>Is object abstract. Default: false.</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                </xs:extension>
              </xs:complexContent>
            </xs:complexType>
            <xs:unique name="objectNameUnique">
              <xs:selector xpath="./*"/>
              <xs:field xpath="@name"/>
            </xs:unique>
            <xs:unique name="objectPropertyClassUnique">
              <xs:selector xpath="./jsonx:property"/>
              <xs:field xpath="@class"/>
            </xs:unique>
          </xs:element>
        </xs:choice>
      </xs:sequence>
      <!-- FIXME: XSB fails to recognize this as a String -->
      <xs:attribute name="package" default="">
        <xs:annotation>
          <xs:documentation>Name of package. Optional.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:union memberTypes="dt:javaQualifiedIdentifier">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:length value="0"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:union>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
    <xs:key name="templateKey">
      <xs:selector xpath="./jsonx:boolean | ./jsonx:number | ./jsonx:string | ./jsonx:array | ./jsonx:object"/>
      <xs:field xpath="@template | @class"/>
    </xs:key>
    <xs:key name="arrayClassKey">
      <xs:selector xpath="./jsonx:array"/>
      <xs:field xpath="@template | @class"/>
    </xs:key>
    <xs:key name="objectClassKey">
      <xs:selector xpath="./jsonx:object"/>
      <xs:field xpath="@class"/>
    </xs:key>
    <xs:keyref name="propertyReferenceKeyRef" refer="jsonx:templateKey">
      <xs:selector xpath=".//jsonx:property"/>
      <xs:field xpath="@type"/>
    </xs:keyref>
    <xs:keyref name="templateReferenceKeyRef" refer="jsonx:templateKey">
      <xs:selector xpath=".//jsonx:reference"/>
      <xs:field xpath="@type"/>
    </xs:keyref>
    <xs:keyref name="objectExtendsKeyRef" refer="jsonx:objectClassKey">
      <xs:selector xpath=".//jsonx:object"/>
      <xs:field xpath="@extends"/>
    </xs:keyref>
    <xs:keyref name="propertyExtendsKeyRef" refer="jsonx:objectClassKey">
      <xs:selector xpath=".//jsonx:property"/>
      <xs:field xpath="@extends"/>
    </xs:keyref>
    <xs:keyref name="arrayObjectClassKeyRef" refer="jsonx:objectClassKey">
      <xs:selector xpath=".//jsonx:array/jsonx:object"/>
      <xs:field xpath="@type"/>
    </xs:keyref>
    <xs:keyref name="propertyObjectClassKeyRef" refer="jsonx:objectClassKey">
      <xs:selector xpath=".//jsonx:property/jsonx:object"/>
      <xs:field xpath="@type"/>
    </xs:keyref>
  </xs:element>

</xs:schema>